In [2]:
line = input("Enter sentence: ")

word_list = line.split()
unique_set = set(word_list)

print("Unique words count:", len(unique_set))
print("Unique words:", unique_set)

Enter sentence:   python is easy and python is powerful

Unique words count: 5
Unique words: {'is', 'and', 'easy', 'powerful', 'python'}

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_salary = 0
highest_employee = ""

for name in employees:
    if employees[name] > highest_salary:
        highest_salary = employees[name]
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [4]:
numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [5]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [6]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for status in attendance:
    if status == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9123456789, 9876543210}

In [8]:
text = "python"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [9]:
my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [10]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [11]:
marks = [70, 75, 80, 65]

total = 0

for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5